.App-body {
  min-height: 100vh;
  background-color: #161B22;
}

.App-primary {
  color: #c9d1d9;
}

.App-second {
  color:#1f6feb;
}

.App-third {
  color:#0000FF;
}

.App-fourth {
  color:#0D1117;
}

.App-fifth {
  color: #FFF;
}

header, main, footer {
  flex-shrink: 0;
}
